In [108]:
import pandas as pd
import numpy as np
import cv2
import csv
from matplotlib import pyplot as plt

In [109]:
log = 'output/13th australia queensland.csv'
video = 'input/13th australia queensland.avi'
synclog = 'output/13thFrameTimeIdx.csv'
syncvideo = 'output/13thSyncVideo.avi'
diffvideo = 'output/diff12th.avi'
featurevideo = 'output/13thFeatVideo.avi'
framesPerSec = 9

In [110]:
dfSync = pd.read_csv(synclog)
dfSync.info()
dfSync['Timestamp'].drop_duplicates()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3330 non-null   int64
 1   FileName     3330 non-null   object
 2   FrameNumber  3330 non-null   int64
 3   Timestamp    779 non-null    object
dtypes: int64(2), object(2)
memory usage: 104.2+ KB

0       11:16:54
4            NaN
61      11:17:01
85      11:17:04
94      11:17:05
          ...
3291    11:22:56
3300    11:22:57
3307    11:22:58
3317    11:22:59
3325    11:23:00
Name: Timestamp, Length: 277, dtype: object

In [111]:
#dfSync['Timestamp'] = pd.to_datetime(dfSync['Timestamp'])
#dfSync['Timestamp'] = dfSync['Timestamp'].dt.time
dfSync['datetime'] = pd.to_datetime(dfSync['Timestamp'], format='%H:%M:%S')
#pd.to_datetime((dfSync['Timestamp'].astype(np.int64)//10**9 * 10**9).astype('datetime64[ns]'))
dfSync['diff'] = dfSync.datetime.diff().dt.total_seconds()
dfSync['toUpdate'] = dfSync['Timestamp'].isnull()
dfSync.tail(40)
#list(dfSync.loc[pd.isna(dfSync["Timestamp"]), :].index)
IdxValPresent = list(dfSync.loc[(dfSync["toUpdate"] == False), :].index)
IdxValPresent[:5]

[0, 1, 2, 3, 61]

In [112]:
idList=[]
valList=[]
for a in range(len(IdxValPresent)-1):
    diff = IdxValPresent[a+1] - IdxValPresent[a]
    #print(diff)
    if (diff == 1):
        diff
    else :
     #   print(diff)
        if(dfSync.iloc[IdxValPresent[a+1]]['datetime']  == dfSync.iloc[IdxValPresent[a]]['datetime']):
           # print(diff)
            for b in range(diff-1):
               # print(b)
                id = IdxValPresent[a]+b+1
               # print(id)
                idList.append(id)
                valList.append(dfSync.iloc[IdxValPresent[a+1]]['datetime'])
              #  dfSync.iloc[id]['newdt'] = dfSync.iloc[IdxValPresent[a+1]]['datetime']

In [113]:
len(idList)
len(valList)

360

In [79]:
df = pd.DataFrame({'A': ['a', 'b', 'c'],
                   'B': ['x', 'y', 'z']})
new_df = pd.DataFrame({'B': ['d', 'e']}, index=[0, 2])
df.update(new_df)
df

   A  B
0  a  d
1  b  y
2  c  e

In [114]:
new_df = pd.DataFrame({'datetime': valList}, index=idList)
dfSync.update(new_df)

In [115]:
dfSync.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3330 non-null   int64
 1   FileName     3330 non-null   object
 2   FrameNumber  3330 non-null   int64
 3   Timestamp    779 non-null    object
 4   datetime     1139 non-null   datetime64[ns]
 5   diff         356 non-null    float64
 6   toUpdate     3330 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 159.5+ KB

In [116]:
dfSync['diff'] = dfSync.datetime.diff().dt.total_seconds()
dfSync['toUpdate'] = dfSync['datetime'].isnull()
IdxValPresent = list(dfSync.loc[(dfSync["toUpdate"] == False), :].index)
dfSync.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3330 entries, 0 to 3329
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   3330 non-null   int64
 1   FileName     3330 non-null   object
 2   FrameNumber  3330 non-null   int64
 3   Timestamp    779 non-null    object
 4   datetime     1139 non-null   datetime64[ns]
 5   diff         905 non-null    float64
 6   toUpdate     3330 non-null   bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 159.5+ KB

In [117]:
dfSync['SyncTime']= dfSync['datetime'].dt.time

In [118]:
dfSync.to_csv('output/13thSyncTemp.csv')

In [130]:
df = pd.read_csv('output/13thSyncTemp.csv')

In [131]:
df.head(30)

,Unnamed: 0,Unnamed: 0.1,FileName,FrameNumber,Timestamp,datetime,diff,toUpdate,SyncTime
0,0,0,emp\0.jpg,0,11:16:54,1/1/1900 11:16,NaN,False,11:16:54
1,1,1,emp\1.jpg,1,11:16:54,1/1/1900 11:16,0.0,False,11:16:54
2,2,2,emp\2.jpg,2,11:16:54,1/1/1900 11:16,0.0,False,11:16:54
3,3,3,emp\3.jpg,3,11:16:54,1/1/1900 11:16,0.0,False,11:16:54
4,4,4,emp\4.jpg,4,11:16:55,NaN,NaN,True,NaN
5,5,5,emp\5.jpg,5,NaN,NaN,NaN,True,NaN
6,6,6,emp\6.jpg,6,NaN,NaN,NaN,True,NaN
7,7,7,emp\7.jpg,7,NaN,NaN,NaN,True,NaN
8,8,8,emp\8.jpg,8,NaN,NaN,NaN,True,NaN
9,9,9,emp\9.jpg,9,NaN,NaN,NaN,True,NaN
10,10,10,mp\10.jpg,10,NaN,NaN,NaN,True,NaN
11,11,11,mp\11.jpg,11,NaN,NaN,NaN,True,NaN
12,12,12,mp\12.jpg,12,NaN,NaN,NaN,True,NaN
13,13,13,mp\13.jpg,13,NaN,NaN,NaN,True,NaN
14,14,14,mp\14.jpg,14,NaN,NaN,NaN,True,NaN
15,15,15,mp\15.jpg,15,NaN,NaN,NaN,True,NaN
16,16,16,mp\16.jpg,16,NaN,NaN,NaN,True,NaN
17,17,17,mp\17.jpg,17,NaN,NaN,NaN,True,NaN
18,18,18,mp\18.jpg,18,NaN,NaN,NaN,True,NaN
19,19,19,mp\19.jpg,19,NaN,NaN,NaN,True,NaN
20,20,20,mp\20.jpg,20,NaN,NaN,NaN,True,NaN
21,21,21,mp\21.jpg,21,11:16:56,NaN,NaN,True,NaN
22,22,22,mp\22.jpg,22,11:16:57,NaN,NaN,True,NaN
23,23,23,mp\23.jpg,23,NaN,NaN,NaN,True,NaN
24,24,24,mp\24.jpg,24,NaN,NaN,NaN,True,NaN
25,25,25,mp\25.jpg,25,NaN,NaN,NaN,True,NaN
26,26,26,mp\26.jpg,26,NaN,NaN,NaN,True,NaN
27,27,27,mp\27.jpg,27,NaN,NaN,NaN,True,NaN
28,28,28,mp\28.jpg,28,NaN,NaN,NaN,True,NaN
29,29,29,mp\29.jpg,29,NaN,NaN,NaN,True,NaN

In [134]:
df['datetime'] = pd.to_datetime(df['Timestamp'], format='%H:%M:%S')
df['diff'] = df.datetime.diff().dt.total_seconds()
df['toUpdate'] = df['datetime'].isnull()
IdxValPresent = list(df.loc[(df["toUpdate"] == False), :].index)
df['SyncTime']= df['datetime'].dt.time
df.head(6)

,Unnamed: 0,Unnamed: 0.1,FileName,FrameNumber,Timestamp,datetime,diff,toUpdate,SyncTime
0,0,0,emp\0.jpg,0,11:16:54,1900-01-01 11:16:54,NaN,False,11:16:54
1,1,1,emp\1.jpg,1,11:16:54,1900-01-01 11:16:54,0.0,False,11:16:54
2,2,2,emp\2.jpg,2,11:16:54,1900-01-01 11:16:54,0.0,False,11:16:54
3,3,3,emp\3.jpg,3,11:16:54,1900-01-01 11:16:54,0.0,False,11:16:54
4,4,4,emp\4.jpg,4,11:16:55,1900-01-01 11:16:55,1.0,False,11:16:55
5,5,5,emp\5.jpg,5,NaN,NaT,NaN,True,NaT

In [133]:
df['datetime'].drop_duplicates()

0      1900-01-01 11:16:54
4      1900-01-01 11:16:55
5                      NaT
21     1900-01-01 11:16:56
22     1900-01-01 11:16:57
               ...
3291   1900-01-01 11:22:56
3300   1900-01-01 11:22:57
3307   1900-01-01 11:22:58
3317   1900-01-01 11:22:59
3325   1900-01-01 11:23:00
Name: datetime, Length: 368, dtype: datetime64[ns]

In [135]:
idList=[]
valList=[]
for a in range(len(IdxValPresent)-1):
    diff = IdxValPresent[a+1] - IdxValPresent[a]
    #print(diff)
    if (diff == 1):
        diff
    else :
        quo = (diff - 1) // 2
        rem = (diff - 1) % 2
        val1 = quo
        val2 = quo + rem
     #   print(diff)
        if(df.iloc[IdxValPresent[a+1]]['datetime']  != df.iloc[IdxValPresent[a]]['datetime']):
           # print(diff)
            for b in range(diff-1):
               # print(b)
                id = IdxValPresent[a]+b+1
               # print(id)
                idList.append(id)
                if (b < val1):
                    valList.append(df.iloc[IdxValPresent[a]]['datetime'])
                else:
                    valList.append(df.iloc[IdxValPresent[a+1]]['datetime'])
              #  dfSync.iloc[id]['newdt'] = dfSync.iloc[IdxValPresent[a+1]]['datetime']

In [136]:
print(len(idList), len(valList))

2100 2100

In [138]:
new_df = pd.DataFrame({'datetime': valList}, index=idList)
df.update(new_df)
df['diff'] = df.datetime.diff().dt.total_seconds()
df['toUpdate'] = df['datetime'].isnull()
df['SyncTime']= df['datetime'].dt.time
df.to_csv('output/13thSyncTempLat.csv')

In [140]:
dfSync = pd.read_csv('output/13thSyncTemp.csv')
df['SyncTimeFromTemp'] = dfSync['SyncTime']

In [143]:
df['SyncTime'] = df.apply(lambda x: x['SyncTimeFromTemp'] if x['toUpdate']==True else x['SyncTime'], axis=1)
df.to_csv('output/13thSyncFinal.csv')

In [139]:
df['datetime'].drop_duplicates()

0      1900-01-01 11:16:54
4      1900-01-01 11:16:55
13     1900-01-01 11:16:56
22     1900-01-01 11:16:57
31     1900-01-01 11:16:58
               ...
3290   1900-01-01 11:22:56
3298   1900-01-01 11:22:57
3306   1900-01-01 11:22:58
3316   1900-01-01 11:22:59
3323   1900-01-01 11:23:00
Name: datetime, Length: 368, dtype: datetime64[ns]

In [8]:
cap1 = cv2.VideoCapture(video)
df = pd.read_csv('output/13thSyncFinal.csv')
frame_width = int(cap1.get(3))
frame_height = int(cap1.get(4))
out = cv2.VideoWriter(diffvideo, cv2.VideoWriter_fourcc('M','J','P','G'), 9, (frame_width,frame_height))

count = 1

# Take first frame 
ret, old_frame = cap1.read()

while(1):
    ret,frame = cap1.read()
    count = count + 1
    # calculate difference
    diff = cv2.absdiff(frame, old_frame)
    #diff = old_frame - frame
    #out.write(diff)
    cv2.imshow('diff',diff)
    k = cv2.waitKey(1) & 0xff
    if k == 27:
        break

    # Now update the previous frame and previous points
    old_frame = frame.copy()
    
cv2.destroyAllWindows()
cap1.release()
out.release()

error: OpenCV(4.0.1) C:\ci\opencv-suite_1573470242804\work\modules\core\src\arithm.cpp:663: error: (-209:Sizes of input arguments do not match) The operation is neither 'array op array' (where arrays have the same size and the same number of channels), nor 'array op scalar', nor 'scalar op array' in function 'cv::arithm_op'

In [9]:
count

3331

In [4]:
df = pd.read_csv('output/13thSyncFinal.csv')
capVid = cv2.VideoCapture(video)
frame_width = int(capVid.get(3))
frame_height = int(capVid.get(4))
out = cv2.VideoWriter(featurevideo, cv2.VideoWriter_fourcc('M','J','P','G'), 9, (1080,480))
font = cv2.FONT_HERSHEY_SIMPLEX

ret,img1 = capVid.read()

# initialize counter to update roll, pitch, yaw
i = 0

list_roll = []
list_pitch = []
list_yaw = []

# Initiate ORB detector
orb = cv2.ORB_create()
    
# create BFMatcher object
bf = cv2.BFMatcher(cv2.NORM_HAMMING, crossCheck=True)

while(1):
    
    for a in range(framesPerSec):
        ret,img2 = capVid.read()
    
    # find the keypoints and descriptors with ORB
    kp1, des1 = orb.detectAndCompute(img1,None)
    kp2, des2 = orb.detectAndCompute(img2,None)

    bf = cv2.BFMatcher(cv2.NORM_HAMMING, crossCheck=True)

    if kp1 and kp2:
        if (len(kp1) > 4 and len(kp2) > 4):
            # Match descriptors.
            matches = bf.match(des1,des2)

            # Sort them in the order of their distance.
            matches = sorted(matches, key = lambda x:x.distance)
            
            roll = dfSync.iloc[i * framesPerSec]['roll']
            pitch = dfSync.iloc[i * framesPerSec]['pitch']
            yaw = dfSync.iloc[i * framesPerSec]['yaw']
            time = dfSync.iloc[i * framesPerSec]['time']


            # for viewing un-comment the following to see top 30 features matching lines, and press escape to close the window
            img3 = cv2.drawMatches(img1,kp1,img2,kp2,matches[:], None,flags=2)
            imgResize = cv2.resize(img3, (1080, 480))
            cv2.putText(imgResize,  
                'roll : {:.2f}'.format(roll),  
                (50, 60),  
                font, 1,  
                (0, 255, 255),  
                2,  
                cv2.LINE_4) 
            cv2.putText(imgResize,  
                'pitch :{:.2f}'.format(pitch),  
                (50, 80),  
                font, 1,  
                (0, 255, 255),  
                2,  
                cv2.LINE_4) 
            cv2.putText(imgResize,  
                'yaw :{:.2f}'.format(yaw),  
                (50, 100),  
                font, 1,  
                (0, 255, 255),  
                2,  
                cv2.LINE_4) 
            cv2.putText(imgResize,  
                'time :{}'.format(time),  
                (50, 120),  
                font, 1,  
                (0, 255, 255),  
                2,  
                cv2.LINE_4) 
            
            out.write(imgResize) 
            cv2.imshow('Feature Matching',imgResize)
    
    img1 = img2.copy()
    i = i + 1
    
    k = cv2.waitKey(30) & 0xff
    if k == 27:
        break
    
cv2.destroyAllWindows()
capVid.release()
out.release()